/* CSS Document */
/*  
Theme Name: Dashboard
Theme URI: dashboard.com
Description: Mail Services
Version: 1.0
Author: Bala
Author URI: http://www.dashboard.com
*/

@font-face{font-family:"SF Pro Display";font-style:black;font-weight:800; src:url("assets/fonts/SF-Pro-Display-Heavy.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:bold;font-weight:700; src:url("assets/fonts/SF-Pro-Display-Bold.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:medium;font-weight:600; src:url("assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:normal;font-weight:500; src:url("assets/fonts/SF-Pro-Display-Medium.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:light;font-weight:400; src:url("assets/fonts/SF-Pro-Display-Regular.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:light;font-weight:300; src:url("assets/fonts/SF-Pro-Display-Light.otf") format("opentype")}

body{background: linear-gradient(153.92deg, #4c3380 0%, #082D5B 100%); height:100vh; font-family: "SF Pro Display" !important;}
.logo{color: rgba(206,208,214,0.99); font-family: "SF Pro Display";	font-size: 20px; font-weight: 600; line-height: 24px;}
.logo a{color: rgba(206,208,214,0.99); font-family: "SF Pro Display";	font-size: 20px; font-weight: 600; line-height: 24px; text-decoration:none;}
.logo a:hover{color: rgba(206,208,214,0.99); font-family: "SF Pro Display";	font-size: 20px; font-weight: 600; line-height: 24px; text-decoration:none;}
.logout{color: rgba(206,208,214,0.5);	font-family: "SF Pro Display";	font-size: 20px; line-height: 24px;	text-align: right;}
.logout a{color: rgba(206,208,214,0.5);	font-family: "SF Pro Display";	font-size: 20px; line-height: 24px;	text-align: right;}

.mgt1{margin-top:10px;}
.mgt2{margin-top:20px;}
.mgt3{margin-top:30px;}
.mgt4{margin-top:40px;}
.mgt5{margin-top:50px;}
.mgt6{margin-top:60px;}
.mgt7{margin-top:70px;}
.mgt8{margin-top:80px;}
.mgt9{margin-top:90px;}
.mgt10{margin-top:100px;}

.mgb1{margin-bottom:10px;}
.mgb2{margin-bottom:20px;}
.mgb3{margin-bottom:30px;}
.mgb4{margin-bottom:40px;}
.mgb5{margin-bottom:50px;}
.mgb6{margin-bottom:60px;}
.mgb7{margin-bottom:70px;}
.mgb8{margin-bottom:80px;}
.mgb9{margin-bottom:90px;}
.mgb10{margin-bottom:100px;}

a{text-decoration:none;}
.bg-wt{background-color:#FFFFFF; height:230px; border-radius:60px; text-align:center; position: relative; margin:10px;}
.icon {margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.site-name{color: rgba(255,255,255,0.72); font-family: "SF Pro Display"; font-size: 24px; line-height: 29px; text-align: center;}
.title{color: #FFFFFF; font-family: "SF Pro Display"; font-size: 42px; font-weight: bold; line-height: 50px;}
.page-title{color: #9B9B9B; font-family: "SF Pro Display"; font-size: 24px; line-height: 29px; font-weight:500;}
.blk{color: #000; font-weight:500;}
.tbl-title{color: #000000; font-family: "SF Pro Display"; font-size: 16px; font-weight: 500; line-height: 19px;}
#mn{margin-top:40px;}
ul#mn li {display:inline; padding-right:60px;}
ol, ul{ margin-left:0px !important; padding-left: 0px;}
#mn{color: rgba(255,255,255,0.24); font-family: "SF Pro Display";	font-size: 20px; font-weight: 500; line-height: 24px;}
#mn a{color: rgba(255,255,255,0.24); font-family: "SF Pro Display";	font-size: 20px; font-weight: 500; line-height: 24px; text-decoration:none;}
#mn a:hover{color:#fff; border-bottom:2px solid #50E3C2;}
.tb-data{color: #000000; font-family: "SF Pro Display";	font-size: 15px; line-height: 19px; font-weight:500;}