/*  
Theme Name: All Time Design
Theme URI: alltimedesign.com
Description: Graphic Design Services
Version: 1.0
Author: Bala
Author URI: http://www.alltimedesign.com
*/

@font-face{font-family:"Helvetica Neue";font-style:black;font-weight:800; src:url("assets/fonts/HelveticaNeue-Black.otf") format("opentype")}
@font-face{font-family:"Helvetica Neue";font-style:bold;font-weight:700; src:url("assets/fonts/HelveticaNeue-Bold.otf") format("opentype")}
@font-face{font-family:"Helvetica Neue";font-style:medium;font-weight:600; src:url("assets/fonts/HelveticaNeue-Medium.otf") format("opentype")}
@font-face{font-family:"Helvetica Neue";font-style:normal;font-weight:500; src:url("assets/fonts/HelveticaNeue.otf") format("opentype")}
@font-face{font-family:"Helvetica Neue";font-style:light;font-weight:400; src:url("assets/fonts/HelveticaNeue-Light.otf") format("opentype")}


@font-face{font-family:"SF Pro Display";font-style:black;font-weight:800; src:url("assets/fonts/SF-Pro-Display-Heavy.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:bold;font-weight:700; src:url("assets/fonts/SF-Pro-Display-Bold.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:medium;font-weight:600; src:url("assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:normal;font-weight:500; src:url("assets/fonts/SF-Pro-Display-Medium.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:light;font-weight:400; src:url("assets/fonts/SF-Pro-Display-Regular.otf") format("opentype")}
@font-face{font-family:"SF Pro Display";font-style:light;font-weight:300; src:url("assets/fonts/SF-Pro-Display-Light.otf") format("opentype")}

/*@font-face{font-family:Franklin-Gothic-URW;font-style:normal;font-weight:400;src:url(assets/fonts/FranklinGothicURW-Lig_3cb9dc35d41d.eot?#iefix);src:url(assets/fonts/FranklinGothicURW-Lig_3cb9dc35d41d.eot?#iefix) format("embedded-opentype"),url(assets/fonts/FranklinGothicURW-Lig_15f777e8.woff) format("woff"),url(assets/fonts/FranklinGothicURW-Lig_1aa1314a.ttf) format("truetype"),url(assets/fonts/FranklinGothicURW-Lig_d58c079a.svg) format("svg")}

@font-face{font-family:SF Pro Display;font-style:normal;font-weight:400;src:url(assets/fonts/FranklinGothicURW-Boo_80433ebed41d.eot?#iefix);src:url(assets/fonts/FranklinGothicURW-Boo_80433ebed41d.eot?#iefix) format("embedded-opentype"),url(assets/fonts/FranklinGothicURW-Boo_37f3b9e3.woff) format("woff"),url(assets/fonts/FranklinGothicURW-Boo_59c163a2.ttf) format("truetype"),url(assets/fonts/FranklinGothicURW-Boo_f9078bd8.svg) format("svg")}

@font-face{font-family:SF Pro Display;font-style:normal;font-weight:400;src:url(assets/fonts/FranklinGothicURW-Med_6c7c7c06d41d.eot?#iefix);src:url(assets/fonts/FranklinGothicURW-Med_6c7c7c06d41d.eot?#iefix) format("embedded-opentype"),url(assets/fonts/FranklinGothicURW-Med_205bee21.woff) format("woff"),url(assets/fonts/FranklinGothicURW-Med_15fccaf1.ttf) format("truetype"),url(assets/fonts/FranklinGothicURW-Med_2594e929.svg) format("svg")}

@font-face{font-family:alltimedesign-Regular;font-style:normal;font-weight:400;src:url(assets/fonts/alltimedesign-Regular_8771f781d41d.eot?#iefix);src:url(assets/fonts/alltimedesign-Regular_8771f781d41d.eot?#iefix) format("embedded-opentype"),url(assets/fonts/alltimedesign-Regular_65ebe5c5.woff) format("woff"),url(assets/fonts/FreshBooksScript-Regular_fe7e7a7f.otf) format("opentype")}*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

object{
    pointer-events: none;
}

pre{background:none !important; padding:0px !important; margin-bottom:0px !important;}

.home-banner-txt{color: #000000; font-family: SF Pro Display; font-size: 36px; font-weight: 400; line-height: 52px;}
.plus-sign{font-size:25px; padding-bottom:5px;}
.sz1{width:200px;}
.tickets{color: #000000; font-family: SF Pro Display;	font-size: 18px; font-weight: 600; letter-spacing: 0.29px;	line-height: 23px;}

.column {
    float: left;
    width: 33.33%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.status-open{margin-left:100px; border-radius: 2px; background-color: #F8B418; padding: 1px 10px 3px 10px; color:#fff; font-family: SF Pro Display;	font-size: 14px; font-weight: 600; line-height: 2.4;}
.status-delivered{margin-left:100px; border-radius: 2px; background-color: #9B9B9B; padding: 1px 10px 3px 10px; color:#fff; font-family: SF Pro Display;	font-size: 14px; font-weight: 600; line-height: 2.4;}
.status-closed{margin-left:100px; border-radius: 2px; background-color: #e63405; padding: 1px 10px 3px 10px; color:#fff; font-family: SF Pro Display;	font-size: 14px; font-weight: 600; line-height: 2.4;}
.date-time{line-height: 2.4; float: right; padding-right: 100px;}
/*#chat-area{min-height:500px; height:500px; overflow-y:auto; padding-left:5px; padding-bottom: 50px;}*/
#text-box{margin-right:40px;}

/*----textbox------*/
.embed-submit-field {
  position: relative;
}
/*.embed-submit-field input {
  width: 100%;
  padding: 15px;
  margin:20px;
  padding-bottom:70px;
  font-size:15px;
  border:1px solid rgba(0,0,0,.2);
  border-radius:4px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
}
*/
#txt-box{
  text-align: center;

}
.embed-submit-field textarea {
 width: 95%;
    padding: 15px;
    /* margin: 0 auto !important; */
    margin-bottom: 20px;
    padding-bottom: 100px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
}
.embed-submit-field button {
  position: absolute;
  right: 40px;
  top: 112px;
  font-size:16px;
  font-family:SF Pro Display;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: #0068e5;
  border-radius: 3px;
  padding: 7px 20px;
  transition: all .2s;
  color: #fff;
  cursor: pointer;
}

.embed-submit-field button:hover {background: #0077ff;}
#reply:disabled{opacity:.5;}
.att{
position:absolute;
padding:0px;
line-height:0px;
right: 10px;
font-size: 16px;
    font-family: SF Pro Display;
top: 112px;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,.2);
  font-size:20px;
  font-weight:400;
}
::-moz-placeholder {
  color: rgba(0,0,0,.2);
  font-size:20px;
  font-weight:400;
}
:-ms-input-placeholder {
  color: rgba(0,0,0,.2);
  font-size:20px;
  font-weight:400;
}
:-moz-placeholder {
  color: rgba(0,0,0,.2);
  font-size:20px;
  font-weight:400;
}

.lnk a{color:#0068e5;}
.blog-title1{font-size: 30px;}

/*----textbox end------*/

/*------dashboard panel scr----*/

ul { list-style-type: none; }

h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 80px;
}

h1 a {
  color: #c12c42;
  font-size: 16px;
}

.accordion {
  width: 100%;
  max-width: 800px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 20px 15px 20px;
  color: #222;
  font-size: 14px;
  font-weight: 600;
  background:#fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius:4px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion .link:hover{
border: 1px solid #0068e5 !important;
 -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
}

/*.accordion li:last-child .link { border-bottom: 0; }*/

.accordion li i {
  position: absolute;
  top: 25px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-right {
  right: 20px;
  left: auto;
  font-size: 16px;
}

.accordion li.open i { color: #0068e5; }

.accordion li.open i.fa-chevron-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #fff;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,.2) !important;
  margin-top:-5px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #0068e5;
  color: #FFF;
}
/*--------dashboard panel scr end---------*/

.period{font-size:14px; color: #888; text-align:right; padding-right:42px; padding-top:20px; font-family:SF Pro Display;}

span.title{display: inline-block;
padding-left:10px;
font-size:16px;
width:30%;
vertical-align: middle;}

#initial-button{
width:95%;
margin: 0 auto !important;
 margin-bottom:20px !important; 
background-color:#FFFFFF; 
border:1px solid rgba(0,0,0,.2); 
padding:15px;
font-family:SF Pro Display; 
text-align:left;
border-radius:4px;
-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10); 
transition: all 0.4s ease;
font-size:16px; 
font-weight:500; 
color: #0068e5; 
cursor:pointer;}

#initial-button:hover{
border: 1px solid #0068e5 !important;
 -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
}

/*input:focus, textarea:focus {border: 1px solid #0068e5 !important;}*/
input:focus, textarea:focus, select:focus, button {
outline-offset: 0px !important;
outline: none !important;
}

/*----------filter menu----------------*/
.dropbtn {
    border: 1px solid rgba(34,34,34,.2);
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    color: #222;
    border-radius: 4px;
    cursor: pointer;
	margin-left:185px;
}

.dropbtn:hover, .dropbtn:focus {
   border: 1px solid #0068e5 !important;
   color: #0068e5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
	margin-top:5px;
	box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.05);
	margin-left:185px;
}

.dropdown-content a {
    color: black;
	font-size:14px;
	font-weight:500;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #0068e5; color:#FFFFFF;}


.setting-dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.setting-dropdown {
    position: relative;
    display: inline-block;
}

.setting-dropdown-content {
    right: 0;
	display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
	margin-top:-3px;
	box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.05);
}

.setting-dropdown-content a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
	font-weight:500;
	font-family:SF Pro Display;
	font-size:16px;
}

.setting-dropdown-content a:hover {background-color: #0068e5; color:#FFFFFF !important;}

.setting-dropdown:hover .setting-dropdown-content {
    display: block;
}

.setting-dropdown:hover .setting-dropbtn {
    background-color: #3e8e41;
}
.setting-dropdown-content span{padding-left:5px;}


.show {display: block;}
.dropdown button i{padding-right:8px;}
.dropdown button span{font-size:10px; padding-left:10px; bottom:3px;}
.dropdown button span.no-count{font-size:14px; font-weight:400; padding-left:0px;}
#myDropdown span{padding-left:5px;}
.btn-small{padding: 0.1rem 0.4rem !important;}

a.btn.btn-sm1.btn-small.btn-primary.display-4{margin-right:125px;}

.request-btn {
    border: 1px solid #0068e5;
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    font-size: 1.1rem ;
	font-family:SF Pro Display;
    font-weight: 500;
    background-color: #0068e5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
	margin-right:125px;
	transition: all .2s;
}

.request-btn:hover{background-color:#0077ff;}
.frm-btn:hover{background-color:#0077ff;}
.frm-btn {
    border: 1px solid rgba(34,34,34,.2);
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    font-size: 1.1rem ;
	font-family:SF Pro Display;
    font-weight: 500;
    background-color: #0068e5;
    color: #fff;
	height:40px;
    border-radius: 4px;
    cursor: pointer;
	transition: all .2s;
	width:100%;
	text-align:center;
	margin-right:48px;
}

.modal-header{text-align:center; margin-left:100px; padding-top:20px; border-bottom:none !important;}
hr.req{margin-left:20px; margin-right:20px;}

i.fa.fa-times.fa-fw{color: #0068e5;}
i.fa.fa-times.fa-fw:hover{color: ##0077ff;}

.frm-title{color: #7c838a; font-size: 14px;	font-weight: 600; letter-spacing: 0.13px; line-height: 19px; font-family: SF Pro Display;}
.frm-title1{color: #7c838a; font-size: 14px;	font-weight: 600; letter-spacing: 0.13px; line-height: 19px; font-family: Franklin-Gothic-URW;}
.frm-title2{color: #7c838a; font-size: 14px;	font-weight: 600; letter-spacing: 0.13px; line-height: 19px; font-family: SF Pro Display;}
.frm-title2 span{
font-size: 23px !important;
    color: #0068e5 !important;
}
.frm-sm-title{font-size: 14px;	letter-spacing: 0.13px;	line-height: 17px; color: #9E9FA5; text-align: left; font-weight:400;}
.form-group textarea, input[type=text]{background-color:#FFFFFF;}
.sm_area_bottom{text-align:left;}
.brder{border:1px solid rgba(0,0,0,.2); padding:20px; text-align:center; width:100px; font-size:13px; padding-bottom:30px; padding-top:30px;}
.frm-header{color: #0068e5;	font-size: 25px; font-weight: 500; letter-spacing: 0.27px;	line-height: 50px; padding-left:10px; text-align: left; margin-bottom:20px; font-family:SF Pro Display;}
.hr-pd{margin-top:30px; margin-bottom:30px;}

.file-btn {
    border: 1px solid rgba(34,34,34,.2);
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    font-size: 14px;
	height:40px;
    font-weight: 500;
	line-height:30px;
	text-align:center;
    background-color: #fff;
    color: #222;
    border-radius: 4px;
    cursor: pointer;
	width:100%;
}

.btn-primary1:hover {
   box-shadow: 0 1px 7px rgba(0,0,0,.1) !important;
    background-color: #fefefe !important;
    color: #0068e5 !important;
}

.pricing-cont{color: #7A7C80; font-weight:500;	font-family: SF Pro Display;	font-size: 16px;	letter-spacing: 0.2px;	line-height: 22px;	text-align: center; margin-top:50px;}
.pricing-sub{box-sizing: border-box;	height: 52px;	width: 282px !important;	border: 1px solid #979797;	border-radius: 3px; text-align:center; font-weight:400; margin-top:20px;}
.o-txt{color: #000000;	font-family: SF Pro Display; font-weight:600;	font-size: 18px;	letter-spacing: 0.4px;	line-height: 26px; }
.call-act{color: #000000;	font-family: SF Pro Display; font-weight:500; margin-left:10px;	font-size: 18px;	letter-spacing: 0.3px;	line-height: 28px;}
.testim{color: #000000;	font-family: SF Pro Display;	font-size: 25px;	font-weight: 400;	letter-spacing: 0.2px;	line-height: 40px;	text-align: center;
padding-left: 11%; padding-right: 11%; background:url(assets/images/quo.png) no-repeat center; padding-top:20px;}
.pdlr1{padding-bottom:140px; padding-top:140px;}
.pdlr2{padding-bottom:100px; padding-top:100px;}
.footer-copy{	color: #666666;	font-family: SF Pro Display;	font-size: 15px;	letter-spacing: 0.02px;	line-height: 34px; font-weight:500;}
.footer-copy ul li a{	color: #666666 !important;	font-family: SF Pro Display;	font-size: 15px;	letter-spacing: 0.02px;	line-height: 34px; font-weight:500;}
.footer-copy ul li a:hover{	color: #ffffff !important;}
.faq-ques{color: #0068E5; font-weight:500; font-family: SF Pro Display; font-size: 20px; line-height: 24px;}
.faq-ans{color: #000000;	font-family: SF Pro Display; font-weight:300;	font-size: 18px;	letter-spacing: 0.2px;	line-height: 26px;}


.testim1{color: #000000;	font-family: SF Pro Display; font-weight:400;	font-size: 18px;	font-style: italic;	letter-spacing: 0.3px;	line-height: 28px;	text-align: center;}

.frm-bottom{padding:10px; background-color:#283544; color:#FFFFFF; font-size:13px; border-radius:4px; border-top-right-radius: 0px;
	border-top-left-radius: 0px;}
.mgb1{margin-bottom:100px;}
.mgb2{margin-bottom:30px;}
.mgb3{margin-bottom:20px;}
.mgb4{margin-bottom:150px;}
.mgb{margin-bottom:10px;}
.mgt1{margin-top:50px;}
.mgt1a{margin-top:10px;}
.mgt2{margin-top:20px;}
.mgt3{margin-top:30px;}
.mgt4{margin-top:150px;}
.clients{padding-top:250px;}
.bs1{box-shadow: 0px -30px 30px -30px rgba(0,0,0,.1);}
.main-info{color: #000000;	font-family: "SF Pro Display";	font-size: 72px; font-weight: 800;	letter-spacing: 0.2px;	line-height: 1.2;	text-align: center;}
.home-title{color: #000000;	font-family: "SF Pro Display"; font-size: 46px; font-weight: bold; letter-spacing: 0.17px; line-height: 60px; text-align: center;}
.six-box{padding:25px; margin:15px; margin-bottom:40px; border-radius: 3px;	/*box-shadow: 0 4px 6px 0 rgba(224,224,224,0.4);*/}
.home-txt{color: #000000; font-size: 30px; font-family:SF Pro Display; font-weight:300; letter-spacing: -0.1px; line-height: 42px; text-align: center;}
.mglr{margin-left:30%;margin-right:30%; font-weight:500; padding-top:20px;}
.mglr1{margin-left:30%;margin-right:30%; padding-top:20px; padding-bottom:40px; font-weight:500;}
.mglr2{margin-left:34%;margin-right:34%; padding-top:20px; padding-bottom:40px; font-weight:500;}
.mglr3{margin-left:20%;margin-right:20%; padding-top:80px; padding-bottom:80px; font-weight:500;}
.mglr4{margin-left:15% !important;margin-right:15% !important;}
.mglr5{margin-left:13.5%;margin-right:13.5%;}
.mglr6{margin-left:35%;margin-right:35%;}
.mglr7{margin-left:26.5%;margin-right:26.5%; padding-top:20px; padding-bottom:40px; font-weight:500;}
.mglr8{margin-left:15% !important;margin-right:15% !important;}
.mglr9{margin-left:5% !important;margin-right:5% !important;}
.mglr10{margin-left:24% !important;margin-right:24% !important;}
.pr1{padding-right:100px;}
.pl1{padding-left:10px;}
/*.four-box{margin:10px;}*/
.four-box1{margin:10px; height: 289px; padding:15px;	border-radius: 15px; background-color: #FFFFFF;	box-shadow: 0 5px 10px 0 rgba(29,30,40,0.05);}
.works img{width:100%; margin-top:30px; margin-bottom:70px;}
.testi-txt{color: #000000;  font-size: 20px; line-height: 39px;	text-align: center; font-weight:500; background:url(assets/images/Colon.png) no-repeat; background-position:center;}
.testi-txt1{color: #999999; font-size: 16px; line-height: 18px;	text-align: center; font-weight:500; padding-bottom:100px;}
.get-started{color: #fff; font-size: 36px; font-weight: bold; letter-spacing: -0.2px;	line-height: 48px;	text-align: center;}

/*scope*/
.scope-txt{color: #000000; font-family: SF Pro Display; font-size: 30px; line-height: 42px; text-align: center;  font-weight:300;}
.scope-title{color: #222222; font-family: SF Pro Display; font-size: 42px; font-weight: bold; line-height: 34px; text-align: center; font-weight:700;}
.mglr9{margin-left:20%;margin-right:20%;}
.scope-list{color: #000000;	font-family: SF Pro Display; font-size: 24px;	line-height: 40px; font-weight:400;}
i.fa.fa-check {color: #0068E5 !important; font-size: 15px; padding-right: 8px;}
.scope-txt1{color: #9e9e9e; font-family: SF Pro Display; font-size: 18px; line-height: 26px; font-weight:500;}
i.fa.fa-times{color: #9E9FA5 !important; font-size: 15px; padding-right: 8px;}
.scope-txt1 a:hover {color: #0077ff !important;}
.btn-hgt{height:62px;}

/*contact*/
input.btn.btn-primary.dm_submit{background-color: #0068E5 !important;}
input.btn.btn-primary.dm_submit:hover{background-color: #0077ff !important;}
/*signin*/
.sign-txt{color: #EEEEEE; font-family: SF Pro Display; font-size: 24px; font-weight: 500; letter-spacing: -0.08px; line-height: 29px; text-align: center;}
.wt-box{width: 500px; border-radius: 4px; background-color:#FFFFFF; padding:30px; padding-bottom:0px;}
.fgot{color:#FFFFFF; font-family: SF Pro Display; font-size: 16px; line-height: 18px; text-align: center !important;}
.fgot:hover{color:#fff !important; text-decoration:underline;}
.desk-show{display:block;}
.mob-show{display:none;}

#search-box input[type=text]:focus, #search-box input[type=email]:focus{
-moz-box-shadow: none;
  -webkit-box-shadow:none;
  box-shadow:none;
  border: 1px solid #0d83dd !important;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus, select .form-control:focus, input[type=email]:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow:none;
  box-shadow:none;
  border: 1px solid #0d83dd !important;
}

.ali1{text-align:left;}

.wideimg {margin-top: 50px;}
label.mc_var_label.mc_header.mc_header_email {display: none;}

.sub-search{width:40% !important;}
.blog-search #mc_signup_submit{height: 56px !important;}


@media (max-width: 820px){ 
.scope-list{font-size: 18px;}
.mglr9{margin-left: 10%; margin-right: 10%;}
}
@media (max-width: 767px){ 
.ali1{text-align:center !important;}
.mglr9 {margin-left: 0%; margin-right: 0%;}
.scope-txt{font-size:20px; line-height:30px;}
.scope-title{font-size: 26px;}
.scope-list{font-size: 18px; padding-left: 50px;}
.mobmg{margin-top:20px;}
.four-box ul li a{font-size:14px !important;}
.mobmg1{margin-top:40px;}
.mobmgb1{margin-bottom:50px !important;}
.mobmg2{margin-top:60px;}
.btn-hgt{height:50px;}
.wt-box{width: 100% !important; background:none !important; padding: 10px !important;}
.desk-show{display:none;}
.mob-show{display:block;}
.form-style{margin-top:0px !important;}
.sign-txt{font-size:18px;}
.log-logo{margin-bottom:20px !important;}
}


/*search*/
#search-box {
    position: relative;
    width: 100%;
    margin: 0;
	margin-left:25%;
	margin-right:25%;
	margin-top:30px;
    }
    
    #search-form 
    {
    height: 50px;
    border: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px 0 0 3px;	background-color: #F7F9FA;
    overflow: hidden;
    }
    
    #search-text 
    {
    color: #000000;	font-family: "SF Pro Display" !important; font-size: 20px; letter-spacing: 0.5px; font-weight:400;
    border-width: 0;
    background: transparent;
    }
    
    #search-box input[type="text"]
    {
    width: 100%;
    padding: 14px 0 14px 1em;
    color: #333;
    outline: none;
	border: 1px solid #979797 !important;	border-radius: 3px 3px 4px 3px !important;	background-color: #FFFFFF;
    }
    
    #search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 148px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    border-width: 0;
    background-color:#0068e5;
    -webkit-border-radius: 0px 3px 4px 0px !important;
    -moz-border-radius: 0px 3px 4px 0px !important;
    border-radius: 0px 3px 4px 0px !important;
    cursor: pointer;
	    transition: all .2s;
    }
	#search-button:hover {background-color:#0077ff;border-color:#0077ff;}
	
	.fnt1{font-size:18px !important;}

#socialicons {
    text-align: center;
}
#socialicons .icon{
    color: MAIN_COLOR;
    border: 1px solid #CFCFCF;
    display: inline-block;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    vertical-align: middle;
    margin: 0 1px 8px;
    -webkit-border-radius: 17px; 
    -moz-border-radius: 17px; 
    border-radius: 17px; 
}
#socialicons .icon:hover{
    color: HOVER_COLOR;
    border: 1px solid #CFCFCF;
}
.four-box ul li{color: #D9D9D9;	font-family: SF Pro Display;	font-size: 16px;	line-height: 30px; font-weight:500;}
.four-box ul li a{color: #D9D9D9;	font-family: SF Pro Display;	font-size: 16px;	line-height: 30px; font-weight:500;}
.four-box ul li a:hover{color: #0068e5;}
.four-box ul li .fa{padding-right:20px;}

.fb{opacity: 0.38;	color: #D9D9D9;	font-size: 14px;	letter-spacing: -0.2px;	line-height: 30px;}
.fb:hover, .tw:hover, .pi:hover, .in:hover{color:#0068e5 !important; opacity: 1;}
.tw{opacity: 0.38;	color: #D9D9D9;	font-size: 14px;	letter-spacing: -0.2px;	line-height: 30px;}
.pi{opacity: 0.38;	color: #D9D9D9;	font-size: 14px;	letter-spacing: -0.2px;	line-height: 30px;}
.in{opacity: 0.38;	color: #D9D9D9;	font-size: 14px;	letter-spacing: -0.2px;	line-height: 30px;}
.ali1{text-align:left;}
.ali2{text-align:right;}
.ali3{text-align:left;}
.ali4{text-align:right;}
.pd1{padding-bottom:100px;}
.pdt1{padding-top:60px;}
.pdt2{padding-top:150px;}
.pdt3{padding-top:30px;}
.pdt4{padding-top:100px;}
.pdb1{padding-bottom:100px;}
.pdb2{padding-bottom:20px;}
.pdb3{padding-bottom:40px;}
.pdb4{padding-bottom:10px;}
.mg1{margin:10px;}
.pdr1{padding-right:5px;}
.mgtb1{margin-top:20px; margin-bottom:20px;}

input.btn.btn-primary.dm_submit:hover{background-color:#0077ff;}
.log-logo{margin-bottom:50px;}
.log-txt{color:#FFFFFF; font-family:SF Pro Display; font-size:18px;}
.ft-title{padding-bottom:15px; font-weight:400; color:#555; font-size:18px; font-family:SF Pro Display;}
.our_work a{color:#0068e5; font-weight:400; font-family:SF Pro Display;}
.our_work a:hover{color:#0068e5;}

.our_work1 a{color:#0068e5; font-weight:500; font-family:SF Pro Display;}
.our_work1 a:hover{color:#0068e5;}

.banner-txt{ text-align: left;
  color: #555; font-family:SF Pro Display; font-size: 22px; font-weight: bold; letter-spacing: -0.2px; line-height: 52px;
  width:80%;
 }
 
 .user_img{text-align:center;}
 img#profile-image{height: 170px;
    width: 170px;}
.row.dm_new_pass{margin-top:10px;}

.mgb0{margin-bottom:140.5px;}
	.mgt0{margin-top:100px;}
	.testimonial{padding-top:80px; padding-bottom:80px; padding-left:100px; padding-right:100px; color: #000000; font-size: 24px; letter-spacing: 0.1px; line-height: 36px; background:url(assets/images/quote.png) no-repeat center; background-position: 50% 30%;}
	
	.calltoaction{color: #FFFFFF;	font-size: 36px; letter-spacing: 0.3px;	line-height: 48px;	text-align: center; padding-bottom:25px;}


.filebtn::-webkit-file-upload-button {
     border: 1px solid rgba(34,34,34,.2);
    padding: 5px 12px 5px 12px;
    box-sizing: border-box;
    font-size: 14px;
	height:40px;
    font-weight: 500;
	line-height:30px;
	text-align:center;
    background-color: #fff;
    color: #222;
    border-radius: 4px;
    cursor: pointer;
}

.only-mobile{display:none; float:right; margin-right:70px; margin-top:5px;}

.dashboard-icon{background-color:#0068e5; border-radius:50%; padding:10px; color:#FFFFFF !important; font-family:SF Pro Display; font-weight:400; font-size:15px;}

.pd-pop{padding:2em !important;}

.c-action {
    font-size: 20px;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

/*.work-img img{margin:10px;}*/


.transition {-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;  transition: all .5s ease;}
.fx3 .item {margin: 10px 0;}
.fx3 .item {padding: 0;  border-radius: 50%; cursor:pointer;}
.fx3 .item img {padding: 0 !important; display: block; width:100%; max-width: 100%; height: auto; outline: transparent solid 2px; outline-offset: 0px;}
.fx3 .item:hover .img-responsive {opacity: 0.8;}
.fx3 h4, .fx3 p {-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease;  transition: all .5s ease;} 
.fx3 .item p {position: absolute; color:#000; text-transform: uppercase; letter-spacing: 2px; top:40%; font-size:30px; left:0; right:0; margin:0 auto; text-align: center; opacity: 0;}
.fx3 .item:hover p, .fx3 .item:focus p {opacity: 1;}

.wpcf7-response-output.wpcf7-mail-sent-ok {
    text-align: center !important;
    margin-top: -100px;
    margin-bottom: 100px;
    color: #0068e5;
    font-weight: 600;
}

.navbar-toggleable-sm .navbar-nav .nav-link{color:#000 !important;}
a.nav-link.link.text-black.display-4:hover{color:#0068e5 !important;}

span.att_name{color:#0068e5 !important;}
span.att_name:hover{color:#0068e5 !important;}

span.select2-dropdown.select2-dropdown--below{z-index: 99999;}
span.select2.select2-container.select2-container--default.select2-container--focus{width:100% !important;}
span.select2.select2-container.select2-container--default.select2-container--below.select2-container--open{width:100% !important;}
span.select2.select2-container.select2-container--default{width:100% !important;}
#exampleAccounting .dm_date_price {width: 60px; display: inline-block;}
#exampleAccounting p.dm_date{padding-bottom:10px;}
span.dm_pdf a{font-weight:600 !important;}

/*--works---*/
.item {
    position: relative;
    margin: 10px;
    overflow: hidden;
    width: auto;
    display: inline-block;
	cursor:pointer;
}
.item img {
    max-width: 100%;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}
.item:hover img {
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}
/*.item:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    background: rgba(0,0,0,0.3);
    z-index: 2;
    opacity: 0;
    -moz-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}*/
.item:hover:before {
    opacity: 1;
}

.item img{width:100%;}
/*--works end----*/

@media screen and (max-width:1440px){
.mglr5{margin-left: 1%;
    margin-right: 1%;}
}
@media screen and (max-width:1200px){
.ipmg{margin-top:50px !important;}
.o-txt{font-size:20px;}
.home-title{font-size: 36px;}
}

@media screen and (max-width:1024px){
a.btn.btn-sm1.btn-small.btn-primary.display-4{margin-right:0px;}
.dropbtn{margin-left:120px;}
.dropdown-content {margin-left:120px;}
.status-open{margin-left:100px;}
.date-time{padding-left:100px;}
.request-btn{padding: 5px 10px 5px 10px; margin-right:0px;}
.clients img{width:100%;}
.mglr{margin-left: 5%; margin-right: 5%;}
.mglr1{margin-left: 5%; margin-right: 5%;}
.mglr2{margin-left: 5%; margin-right: 5%;}
.mglr3{margin-left: 5%; margin-right: 5%; padding-bottom:20px; padding-top:20px;}
.mglr4{margin-left: 5% !important; margin-right: 5% !important;}
.mglr6{margin-left: 5%; margin-right: 5%;}
.ali2 p{font-size: 14px !important;}
.four-box1{padding:10px;}
.testimonial{padding-top: 50px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;}
.mg2{margin:15px !important;}
.sub-search{width:50% !important;}
.four-box ul li a{font-size:15px !important;}
}

@media screen and (max-width:1023px){
.only-mobile{display:block !important;}
}

@media screen and (max-width:991px){
.pr1{padding-right:0px !important;}
.container.dis{display:block !important;}
}

@media screen and (max-width:767px){
.clients{padding-top:120px !important;}
.blog-search{margin-left: 28px !important; margin-right: 28px !important;}
.main-info{font-size: 33px; line-height: 40px;}
.mglr4,{margin-left:0px !important; margin-right:0px !important;}
#search-box{margin-left:20px; margin-right:20px ;}
.btn-primary1, .btn-primary1:active{margin-left:0px !important;}
.pdt4{padding-top:0px !important;}
.testim{font-size:18px !important; line-height: 30px !important;}
.mgb4{margin-bottom:50px !important;}
.mgt1 { margin-top: 0px !important;}
.pdlr1 { padding-bottom: 70px; padding-top: 70px;}
.pdlr2 { padding-bottom: 70px; padding-top: 70px;}
.pdt2 {padding-top: 60px;}
.pdt1 { padding-top: 10px;}
.pdb1 {padding-bottom: 30px;}
.mggt1{margin-top:10px;}
.mggt2{margin-top:60px;}
.mggt3{margin-top:30px !important;}
.o-txt{vertical-align: -webkit-baseline-middle;}
.mgt2 {margin-top: 10px;}
.mgt4 { margin-top: 50px;}
.four-box ul li{line-height:40px !important;}
p.many-text.mb-0.many-fonts-style.display-7 {margin-top: 8px;}
.footer-copy{font-size:15px !important;}

img.dot {
    margin-top: 5px;
}

  .request-btn{
    margin-top: 30px;
  }
.dropbtn{margin-left:0px;}
.dropdown-content {margin-left:0px;}
.status-open{margin-left:10px; width:100%;}
.status-closed{margin-left:10px; width:100%;}
.status-delivered{margin-left:10px; width:100%;}
.date-time{padding-left:45px;}
.accordion .link{ padding: 15px 20px 15px 20px;}	
.period{padding-top:0px;}
.design-menu img{padding-right:15px;}
/*.slim_modal {position:absolute !important;}
.frm-bottom{margin-top:0px !important;}
.dm_prizing_discount{font-size: 14px !important;}*/
.dm_prizing_switch{
	margin-right: 10px !important;
	    margin-left: 10px !important;
}
.design-cont h4{font-size:22px !important;}
.py-3{padding-bottom:0px !important;}
.home-txt{font-size:22px; line-height:36px;}	
.frm-header{font-size:20px;} 
.home-title{font-size:28px;}
.testi-txt{font-size: 18px; line-height: 30px;}
.get-started{font-size: 22px; line-height: 30px;}
.ali1{text-align:center; padding-bottom:10px;}
.ali2{text-align:center;}
.ali3{text-align:left; padding-top:10px;}
.ali4{text-align:left; padding-bottom:20px;}
.design-cont{padding-top: 50px !important;}
.mgb1{margin-bottom:30px;}
.pd1{padding-bottom:60px;}
.works img{margin-top: 0px; margin-bottom: 30px;}
.testi-txt1{padding-bottom: 60px;}
ul, ol, pre, blockquote{margin-bottom: 0px !important;}
.clients{padding:10px; padding-bottom: 15px;}
.banner-txt{line-height:32px !important;}
.dm_prizing_background1{padding: 20px 20px !important;}
.home-title{line-height:28px;     padding-bottom: 20px;
}

span.title{width:55%}
.frm-header{text-align:center;}

span.date-time {
    width: 100% !important;
    display: block !important;}
	
	/*.sm_area_bottom {
    margin-bottom: -15px;
}*/
p.dm_all_invoices {
    padding-bottom: 15px;}
	
	input.frm-btn {
    margin-bottom: 15px;
}

input.form-control.btn.btn-primary.change_assword {
    margin-bottom: 30px;
}

button.next_btn.has-spinner{margin-bottom: 20px;}
.col-12.col-md-6.col-lg-6.yearmonth{margin-top:20px;}

.col-md-4.dm_contact_name, .col-md-4.dNew.Password, .col-md-4.dm_confirm_password, .col-md-6.dNew.Password{margin-top:10px;}

.testimonial {
    padding-left: 20px;
    padding-right: 20px;
	font-size: 20px;
	padding-top: 50px !important;
	}
	
	.testi-txt1{font-size:13px !important; display:inline !important; padding-left:0px !important;}
	.testi-txt{font-size:16px;}
	.calltoaction{margin-left: 40px;
    margin-right: 40px;}
	.mgt0{margin-top: 80px !important;}
	
.design-parallax{background-image:none !important; background-color:#e7f7ff; padding-bottom:0px !important; padding-top: 150px !important;}
.design-parallax H1{text-align:center !important; width:100% !important; font-size:25px !important; line-height:32px !important;}	
.btn-sm{width:100%;}
.btn-sm{padding: 10px 30px !important; font-size:18px !important;}

 .btn-top{   padding: 5px 10px !important;
    font-size: 18px !important;}

.six-box {margin:0px !important;}
.mgb2{margin-bottom:0px !important}
.dm_prizing_button{width:100%;}

.dashboard-icon{margin-right:10px;}
.col-md-4.fx3{text-align:center;}
input#update, .update_user_plan, .update_plan_user{max-width:100%;}
	.ad_customer_conv{margin:10px;}
	.ad_replay_conv{margin:15px;}
	.testimonial{text-align:center; padding-top:20px !important; background-size: 80%;}
	.testi-txt{display:block; line-height: 0px; padding-top: 20px; padding-bottom: 10px;}
	.design-parallax H1{letter-spacing:0px !important;}
	.ipmgg1{margin-top:0px !important;}
	
	}

@media screen and (max-width:768px){	
	.testimonial{padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;}
.testi-txt1{display:block; padding-left:15px; line-height:0px;}
.calltoaction{font-size:28px;}
.mgt0 {
    margin-top: 50px;
}
.mgb4{margin-bottom: 50px;}
.testi-txt1{padding-top: 20px;}
.testi-txt{display:block;}
.six-box{margin:0px;}
.curr{left: 34% !important;}
.ipmgg1{margin-top:20px;}
.ipmgg2{margin-top:40px;}
.home-title{font-size: 26px;}
.sub-search{width:70% !important; margin-left:0px !important; margin-right:0px !important;}
.mglr10{margin-left: 15% !important; margin-right: 15% !important;}
}

/*v*/
.customer_conv{
    background: #ccc;
   padding: 15px;
   width: 500px;
   float: right;
   margin-top: 12px;
}
.replay_conv{
    background: #ccc;
   padding: 15px;
   width: 500px;
   float: left;
   margin-top: 12px;    
}
.frm-bt_priceing .next_btn{
    border: 1px solid rgba(34,34,34,.2);
    padding: 5px 16px 6px;
	line-height:26px;
	letter-spacing: 1px;
	font-family:SF Pro Display;
    box-sizing: border-box;
     font-size: 1.1rem;
    font-weight: 500;
    background-color: #0068e5;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
	transition: all .2s;
	width:95%;
	text-align:center;
	margin-right:0px;
}

.frm-bt_priceing .next_btn:hover{background-color: #0077ff;}
/* Button Spinner Css */
.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto;
}

.has-spinner.btn.active .spinner {
    min-width: 20px;
}
.final_response{
  display: none;
}
.container.list_tickets .card-box ul {
    margin-bottom: -1rem !important;
}
/* End button spinner css */
@media screen and (max-width:767px){
.sub-search{width:100% !important; margin-left:0px !important; margin-right:0px !important;}
  .replay_conv
  {
      width: 80% !important;
  }
  .customer_conv{
    width: 80% !important;
  }
.att{
  width: 50% !important;
  right:150px !important;
}
.mglr10{margin-left: 0% !important; margin-right: 0% !important;}
}


/* dashboard-page */
.yeartomonthtext{
    color:#0068e5;
}
.user_img img{
    width: 86%;
    border-radius: 50%;
}
input.hidden {
    position: absolute;
    left: -9999px;
}

#profile-image {
    cursor: pointer;
    background: #8adffb;
}
#exampleBilling .form-group textarea, input[type=text], input[type=email], input[type=Password] {
    background-color: #FFFFFF;
}
#exampleBilling input[type=submit]{
    background-color: #0068e5;
    border-color: #0068e5;
    color:#fff;
}

#exampleBilling input[type=submit]:hover{
    background-color: #0077ff;
	}
 .customer_conv {
        border-radius: 10px;
        background: transparent;
        padding: 0;
        width: 500px;
        float: right;
        margin-top: 30px;
        margin-right: 70px;
        color: #000000;
    }
    .ad_customer_conv {
        border-radius: 10px;
    background: #e8f0ff;
    color: #222;
    padding: 15px;
    font-size: 15px;
    font-family: SF Pro Display;
    }
    .ad_customer_conv_time {
        float: right;
	 padding-top: 5px;
	 color:#888;
	 font-family: SF Pro Display;
	 font-size:14px;
	 padding-right:5px;
    }
    .ad_image img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: -70px;
        float: right;
		margin-top:-10px;
    }
	.ad_image_text{
		height: 40px;
		border-radius: 50%;
		margin-right: -70px;
		float: right;
		width: 40px;
		background: #0068e5;
		padding: 12px;
		color: #FFFFFF !important;
		font-family: SF Pro Display;
		font-weight: 400;
		font-size: 15px;
	} 
    .ad_image_panel {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .ad_replay_conv {
		 border-radius: 10px;
    background: #f2f2f2;
    color: #222;
    padding: 15px;
    font-size: 15px;
    font-family: SF Pro Display;
    }
    .replay_conv {
        border-radius: 10px;
        background: transparent;
        padding: 0;
        width: 500px;
        float: left;
        margin-top: 12px;
        margin-left: 70px;
        color: #000000;
		margin-top:30px;
    }
    .ad_replay_conv_time {
        float: left;
    padding-top: 5px;
    color: #888;
    font-family: SF Pro Display;
    font-size: 14px;
	    padding-left: 5px;
    }
    .ad_re_image img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: -75px;
        float: left;
		    margin-top: -10px;
    }
    .ad_image_panel a {
        display: block;
        text-decoration: none;
        color: #000000;
        padding-top: 12px;
        padding-bottom: 12px;
        padding: 0px;
    }
    .ad_image_panel a:hover {
        background: none !important;
        color: #000000 !important;
    }
    .ad_image_panel svg {
        width: 40px;
        height: 40px;
    }
    input#ccnum {
   height: 45px;
   width: 100%;
   border:1px solid #E4E4E4;
   background-color: #FFFFFF;
       padding: 10px;
           border-radius: 3px;
}
input#expmonth {
   height: 45px;
   width: 100%;
   border:1px solid #E4E4E4;
   background-color: #FFFFFF;
       padding: 10px;
           border-radius: 3px;
}
input#cvv {
   height: 45px;
   width: 100%;
    border:1px solid #E4E4E4;
   background-color: #FFFFFF;
       padding: 10px;
           border-radius: 3px;
}
/*.col-5.col-md-5.col-lg-5.cardnumber {
    max-width: 25.666667%;
}
.col-2.col-md-2.col-lg-2.expmonth{
    max-width: 25.666667%;
}
.col-2.col-md-2.col-lg-2.cvv {
    max-width: 25.666667%;
}*/
span.dm_doller {
     font-size: 30px;
    color: #0068e5;
    font-weight: bold;
	padding-left:10px;
}
p.dm_billed_annually {
 
   font-size: 20px;
   font-weight: 500;

}
p.dm_your_plan {
 
  color: #7c838a;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.13px;
    line-height: 19px;
	padding-left:10px;
}
p.dm_designs_yearly{
    color: #7c838a;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.13px;
    line-height: 19px;
	padding-left:10px;
}
p.dm_payment_method {
     margin-top: 30px;
    color: #7c838a;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.13px;
    line-height: 19px;
 
}
span.dm_edit {
   padding-left: 20px;
   color: #0888EA;
 
   font-size: 14px;
   cursor: pointer;
 
   
}
span.dm_cancel_bil{
  padding-left: 20px;
   color: #0888EA;
   font-family:SF Pro Display;
   font-size: 14px;
   cursor: pointer;
}
.icon-container {
   padding-top: 35px;
}
.yearmonth .update_plan_user{
max-width: 226px;   
}
input#update, .update_user_plan, .update_plan_user {
 
 height: 45px;
    max-width: 130px;
    padding: 5px 20px 6px;
    background-color: #0068e5;
    color: #ffffff;
    font-weight: 500;
    margin-top: -1px;
    font-size: 1.1;
        border-radius: 3px;
}
input#update:hover {
    background-color: #0077ff;
}
p.dm_invoice_history {
       margin-top: 30px;
	       font-family: Franklin-Gothic-URW;
    color: #7c838a;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.13px;
    line-height: 19px;
}
p.dm_all_invoices, p.hide_all_invoices {
   color: #0888EA;
   font-family: SF Pro Display;
   font-size: 14px;
   cursor: pointer;
}
p.dm_date {
    color: #7c838a;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.13px;
    line-height: 19px;
}
p.dm_date.load_extra{
	display:none;
}
span.dm_pdf {
   color: #0888EA;
   padding-left: 20px;
   font-weight: bold;
}
.dm_date_price{
  color: #232323;
  font-weight: 600;
}
.ad_setting_img {
    width:40px !important;
    height: 40px;
    border-radius: 50%;
}
.ad_card_pin{
  color: #7c838a;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.13px;
    line-height: 19px;
    margin-bottom: 30px;
	font-family:SF Pro Display;
}
@media screen and (max-width:767px){
  .icon-container {
    padding: 35px 0px;
}
input#ccnum{
margin-bottom: 20px;
}
input#expmonth{
margin-bottom: 20px;
}
input#cvv{
margin-bottom: 20px;
}
.ad_setting_img {
    width: 40px !important;
    height: 40px;
    padding: 0px !important;
    border-radius: 50%;
    margin-right: 20PX;
}
/* pricing page */

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.form-row1{
  width: 70%;
    float: left;
}
.submit_payment{
  border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    float: left;
    margin-left: 12px;
    margin-top: 28px;
}

@media (max-width: 360px){ 
.curr{left:25%;}
}



