/* CSS Document */
.l2-banner-title{color: #FFFFFF !important;	font-family: "SF Pro Display"; font-size: 58px;	font-weight: 600; line-height: 64px; text-align: center;}
.l2-mg1{margin-left:12%; margin-right:12%;}
#search-box input[type="text"]{width: 400px !important; margin-right: 150px !important;}
#search-button{border-radius: 3px !important;}
.l2-cont h4{color: #000811;	font-family: "SF Pro Display";	font-size: 24px; font-weight: 600;	line-height: 29px;}
.l2-cont .display-7{color: #2C2F33 !important;	font-family: "SF Pro Display";	font-size: 16px; line-height: 26px;	text-align: center;}
.six-box{margin: 30px !important; margin-top: 0px !important;}
.testim{background:none !important; font-size: 24px !important; font-weight: 500 !important; padding-left: 14% !important; padding-right: 14% !important;}
.testi-txt1{padding-bottom: 50px !important;}
.ft{text-align:right; font-size:16px;}
.ft a{color: #0068E5;	font-family: "SF Pro Display";	font-size: 16px;	line-height: 30px;	text-align: center;}
.l2-mgt1{margin-top:80px;}
.l2-mgt2{margin-top:130px;}
.l2-mg2{margin-top:130px; margin-bottom:50px;}


@media (max-width: 1024px){ 
.l2-banner-title{font-size: 45px; line-height: 50px;}
.design-cont{padding-top: 50px !important;}
.six-box{padding: 0px !important;}
#search-box{margin-left: 22%;}
.wdt1{width:100%;}
}

@media (max-width: 768px){ 
.l2-banner-title{font-size: 33px; line-height: 40px;}
.l2-mgt1{margin-top:40px;}
#search-box input[type="text"]{width: 270px !important;}
.wdt1{width:auto; margin-bottom: 20px;}
.testim{padding-left: 5% !important; padding-right: 5% !important;}
.ft{text-align:center;}
}

@media (max-width: 767px){ 
.l2-mgt1{margin-top:20px;}
.l2-banner-title{font-size: 22px; line-height: 25px;}
#search-box input[type="text"]{width: 60% !important;}
#search-box{margin-top: 60px; margin-left: 4%;}
.testim{font-size: 18px !important;}
.l2-mgt2{margin-top:50px;}
.get-but{margin-left:30px; margin-right:30px; margin-top:30px;}
.l2-mg2{margin-top:50px; margin-bottom:50px;}
}    

@media (max-width: 380px){ 
.l2-banner-title{font-size: 20px;}
#search-box input[type="text"]{width: 57% !important;}
.wdt1{width:100%; margin-bottom: 20px;}
.l2-mgt1{margin-top: 10px;}
.l2-banner-title{font-size: 18px;}
}