/*j*/
.error_ms {
    background-color: #f8d7da !important;
    text-align: center !important;
    color: #721c24 !important;
    margin-bottom: 20px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
	margin-left: 15px;
    margin-right: 15px;
}

.error_msge {
    background-color: #f8d7da !important;
    text-align: center !important;
    color: #721c24 !important;
    margin-bottom: 20px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
	margin-left: 15px;
    margin-right: 15px;
}

.success_msge {
    background-color: #aad662 !important;
    text-align: center !important;
    color: #fff !important;
    margin-bottom: 20px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
	margin-left: 15px;
    margin-right: 15px;
}

.error_ms strong {
    color: #721c24 !important;
     font-weight: 600 !important;
}
.dm_prizing_header{
	margin-top: 100px;
	text-align: center;
	color: #062942;	
	font-size: 36px;	
	font-weight: bold;	
	line-height: 43px;	
	text-align: center;
}
.dm_prizing_header1{
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	color: #062942;	
	font-size: 36px;	
	font-weight: bold;	
	line-height: 43px;	
	text-align: center;
}
.dm_prizing_para{
   color: #062942;	
   font-size: 16px;	
   line-height: 26px;	
   text-align: center;
   max-width: 468px;
   margin: 0 auto;
}

.dm_prizing_background1{
	background-color: #0d83dd;
   padding: 40px 40px;
   padding-top: 70px !important;
   color: #ffffff;
   font-weight:500;
   font-size: 18px;
   border-radius:4px;
   border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	font-family:SF Pro Display;
}
.dm_prizing_background2{
background:#F9F9F9;
    padding: 0px !important;
	border-radius:4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.dm_prizing_header3{
	    margin-top: 75px;
    color: #0d83dd;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 25px;
    text-align: center;
	font-family:SF Pro Display;
}
.dm_prizing_para3{
color: #062942;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 24px;
    text-align: center;
 max-width: 300px;
    margin: 0 auto;
	font-weight:500;
   margin-top:15px;
   font-family:SF Pro Display;
}
.dm_prizing_para4{
color: #000811;	font-family: SF Pro Display; font-weight:600;	font-size: 18px;	letter-spacing: 0.16px;	line-height: 18px;	text-align: center;
}
.dm_prizing_button{
	background-color: #85c525;
	padding: 10px 30px;
	color: #ffffff;
	font-size: 1.1rem;
	font-family:SF Pro Display;
	border-radius: 4px;
	text-align: center;
	margin: 0 auto;
	cursor:pointer;
}
.dm_prizing_button:hover{
	background-color: #aad662;
	}
.dm_prizing_button_div{
text-align: center;
margin: 0 auto;
margin-bottom: 20px;
margin-top: 25px;
}
.dm_prizing_container{
	max-width: 850px;
    margin: 0 auto;
    margin-top:50px;
}
.cd-price{
    text-align: center;
}
.row.dm_prizing2 ,.row.dm_prizing1 {
  max-width: 750px;
  margin:0 auto;
}
.curr {
    position: absolute;
    left: 36%;
    margin-top: 0px;
  color: #0068E5;	font-family: SF Pro Display;	font-size: 28px;	font-weight: 700;	line-height: 28px;	text-align: center;
}
.dm_prizing_number{
	color: #000811;	
	font-size: 100px;	
	line-height: 85px;
	font-weight:600;
	font-family:SF Pro Display;
	    padding-left: 10%;
}

.dm_prizing_number1{
	color: #000811;	
	font-size: 100px;	
	line-height: 85px;
	font-weight:600;
	font-family:SF Pro Display;
	padding-left: 8%;
}
.currr {
    position: absolute;
    left: 34.5%;
    margin-top: 0px;
  color: #0068E5;	font-family: SF Pro Display;	font-size: 28px;	font-weight: 700;	line-height: 28px;	text-align: center;
}


.dm_prizing_background1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dm_prizing_discount{
			color: #000811;	font-family: SF Pro Display; font-weight:600;	font-size: 18px;	letter-spacing: 0.16px;	line-height: 60px;	text-align: center;
}
.dm_prizing_switch{
	margin-right: 20px;
	    margin-left: 20px;
}

.dm_prizing_radiobutton {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}
.dm_shadow {
      max-width: 700px;
    margin: 0 auto;
padding: 50px;
    margin-top: -100px;
    box-shadow: 0px 56px 80px #C1C3CC;
    }
    .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:  #85c525;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.dm_prizing_background1 li {
   padding-bottom:20px;
}
/*.dm_prizing_img1:before{
content: url("image/100% Satisfaction.png");
vertical-align: middle;
    margin-right: 10px;
}
.dm_prizing_img2:before{
	content:url("image/Unlimited request.png");
vertical-align: middle;
    margin-right: 10px;
}
.dm_prizing_img3:before{
	content:url("image/Unlimited revision.png");
vertical-align: middle;
    margin-right: 10px;
}
.dm_prizing_img4:before{
	content:url("image/Unlimited brands.png");
vertical-align: middle;
    margin-right: 10px;
}
.dm_prizing_img5:before{
	content:url("image/Dedicated Designer.png");
	vertical-align: middle;
	    margin-right: 10px;
}
.dm_prizing_img6:before{
	content:url("image/Free photos.png");
	vertical-align: middle;
	    margin-right: 10px;
}
.dm_prizing_img7:before{
	content:url("image/30 day trial.png");
	vertical-align: middle;
	    margin-right: 10px;
}
.dm_prizing_img8:before{
	content:url("image/No contract.png");
	vertical-align: middle;
	margin-right: 10px;
}*/


/* accordian */
ul { list-style-type: none; }

a {
  text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
.dm_faq_accordion_content {
    padding: 0px 40px 32px 32px;
    background: #ffffff;
    font-size: 16px;
    margin-bottom: 0px;
}
.dm_faq_accordion .submenu{
	background: #ffffff;
}
.dm_faq_accordion{
	padding: 0;
	max-width:900px  !important;
	margin: 0 auto !important;
	    border-radius: 0px !important;
	margin-bottom: 200px !important;
}

.accordion {
  width: 100%;
  max-width: 360px;
  margin: 30px auto 20px;
  background: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
li.dm_faq_li {
    border: 1px solid #ccc;
}
.dm_faq_accordion li i{
	 top: 40px !important;
  right: 30px !important;
}
 .dm_faq_accordion li i.fa-chevron-down {

 }
.dm_faq_accordion .link {    
	font-size: 24px !important;
	color: #111111 !important;
	font-weight: 500 !important;
	 padding: 30px !important;
	 border-bottom: none !important;
}
.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link { color: #b63b4d; }
.dm_faq_accordion li.open i{
  color:#85c525 !important;
}
.accordion li.open i { color: #b63b4d; }

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li { border-bottom: 1px solid #4b4a5e; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}
/* dm_reset_password_form */
.dm_reset_password_form{
       max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid;
    padding: 22px;
}
.dm_re_form_header{
  color: #2C2F33;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.27px;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #cccc;
}
.dm_reset_password_button{
     width: 100%;
    border-radius: 2px;
    background-color: #85c525;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
.dm_reset_password_form_body{
  padding: 20px;
}
.dm_reset_password_form_body label{
  color: #2C2F33;
    /* font-family: SF Pro Display; */
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.13px;
    }
    .dm_reset_password_form_body .form-group{
      margin-top:20px;

    }
input#dm_new_password , input#dm_confirm_password {
    padding: 15px;
    border-radius: 2px;
}
/* billing setting*/
.dm_panel_inner_header{
  color: #062942;
  font-size: 16px;  
  font-weight: 500; 
  line-height: 19px;
}
.dm_billing_panel_header{
  border: 1px solid #E0E0E0;  
  border-radius: 3px 3px 0 0; 
  background-color: #F5F5F5;
  padding: 15px;
}
.dm_billing_para1{
    color: #062942;
    font-size: 13px;  
    letter-spacing: 0.2px;
    background-color: #E0E0E0;
    padding: 5px;
    margin-left: 10px;
        border-radius: 4px;
        line-height: 2.5em;
}
.dm_billing_price{
    color: #85c525; 
    font-size: 24px;  
    font-weight: 500; 
    letter-spacing: 0.5px;  
    line-height: 29px;  
    float:right;
}
.dm_billing_panel_body{
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.10);
}
.dm_billing_border{
padding-bottom: 30px;
border-bottom: 1px solid #E0E0E0;
}
.dm_billing_change_plan{
  color: #FFFFFF; 
  font-size: 16px;  
  font-weight: bold;  
  padding: 10px 14px;
  background-color: #85c525;
  margin-left: 10px;
  border-radius: 2px;
}
.dm_billing_edit{
    color: #FFFFFF; 
  font-size: 16px;  
  font-weight: bold;  
  padding: 10px 14px;
  background-color: #85c525;
  border-radius: 2px;
}
.dm_billing_cancel_plan{
  margin-left: 10px;
  color: #9E9FA5;
  font-size: 16px;  
  font-weight: bold;  
  padding: 10px 14px;
  border-radius: 2px;
  background: none;
}
.dm_billing_button_right{
  text-align: right !important;
      margin-top: 20px;
}
.dm_billing_main_head{ 
margin-bottom: 30px;
margin-top:50px;
  color: #062942;
  font-size: 24px;  
 font-weight: 500; 
 line-height: 29px;
}
.md_change_plan_dropdown{
border: 1px solid #EBEDF0;
    border-radius: 2px;
    height: 50px !important;
}
.dm_change_plan_form {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid;
    padding: 22px;
}
.dm_cp_form_header{
  color: #2C2F33;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.27px;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #cccc;
}
.dm_change_plan_button {
    width: 100%;
    border-radius: 2px;
    background-color: #85c525;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
.md_change_plan_name{
  color: #2C2F33;
  font-size: 16px;  
  font-weight: 500;
  padding-bottom:10px;
  letter-spacing: 0.13px; 
  line-height: 19px;
}
@media screen and (max-width: 1023px){
  .dm_prizing_container {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 50px;
}

}
@media screen and (max-width:767px){
.currr{left: 33%;}
}
@media screen and (max-width:767px){
.currr{left: 16% !important;}
.dm_faq_accordion li i {
    top: 40px !important;
    right: 20px !important;
}
.curr{
      left: 17% !important;
}

.curr1{
      left: 14% !important;
}
.dm_faq_accordion .link{font-size:20px !important;}
.dm_billing_para1{line-height:3.5em;}
.faq-question{font-size:20px !important;}
}
@media screen and (max-width:400px){
.curr {left: 14% !important;}
.curr1{
      left: 10% !important;
}
.footer-copy{font-size:15px;}
}

@media screen and (max-width:360px){
.curr {left: 11% !important;}
.curr1{
      left: 7% !important;
}
.dm_prizing_number{padding-left: 7% !important;}
}

/*a*/
/* account settings*/
p.dm_head{
    color: #062942;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;	
    margin-bottom: 30px;
}
.row.dm_name {
    height: 120px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}
.col-md-12.dm_name_sec2 {
       padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
i#fa-icon1 {
    border-radius: 50%;
    font-size: 25px !important;
    background-color: #F0F0F0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    transform: scale(1);
    transition: .6s;
    text-align: center;
    color: #FFF;
}

span.daily_cloud {
    font-weight: normal;
    margin-left: 20px;
    color: #454656;
    font-size: 22px;
    line-height: 23px;
    margin-top: 7px;
}
i#fa-icon1:hover {
    transform: scale(1.5);
    transition: .6s;
}

.col-md-6.dm_acc_set3 {
	    max-width: 580px;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 0 0;
    background-color: #F5F5F5;
}

p.dm_change_pass {
    padding: 13px;
    font-weight: bold;
    max-width: 180px;
    color: #062942;
    font-size: 16px;
    line-height: 19px;
}
p.dm_general_ettings {
    padding: 13px;
    font-weight: bold;
    max-width: 180px;
    color: #062942;
    font-size: 16px;
    line-height: 19px;
}
.row.dm_change_password {
   height: 50px;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 0 0;
    background-color: #F5F5F5;
    width: 100% !important;
}

.col-md-6.dm_acc_set2 {
        padding-left: 0px;
    padding-right: 20px;
}
.test_currentset {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
          border-top: none !important;
    height: 446px;
    max-width: 580px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
}
.row.dm_change_password {
        margin-right: 34px !important;
    margin-left: 0px !important;
}
label.dm_name {
    height: 19px;
    
    color: #2C2F33;
  
    font-size: 16px;
    font-weight: bold;
 
    line-height: 19px;
    margin-top: 20px;
}
input.form-control {
    height: 50px;
    max-width: 100% !important;
    border: 1px solid #EBEDF0;
    border-radius: 2px;
    background-color: #F9F9F9;
    font-size: 1.1rem;
    /* letter-spacing: 0.47px; */
    line-height: 17px;
        box-shadow: none !important;
}
p.dm_current_pass {
    border: 0.5px solid #E0E0E0;
    margin-top: 10px;
    margin-bottom: -3px;
}
p.dm_confirm_pass {
    border: 0.5px solid #E0E0E0;
    margin-top: 28px;
    margin-bottom: 20px;
}
.col-md-12.dm-submit1 {
    text-align: right;
}

.container-fluid.dm_background {
    background-color: #f9f9f9;
}
.row.dm_general_set {
    height: 50px;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 3px 3px 0 0;
    background-color: #F5F5F5;
    
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top:20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0068e5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0068e5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.test_setting {
    background-color: #fff;
    margin-left: -15px !important;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 445px;
   
    max-width: 580px;
    

    background-color: #FFFFFF;
}
div#start_toggle {
    margin-top: 30px;
}
div#start_switch {
    text-align-last: right;
}
input.btn.btn-primary.change_assword:active {
    background-color: #85c525;
}
.container.dm_background1 {
    margin-bottom: 150px;
}
label#switch1 {
    margin-top: 10px;
}
label#switch2{
	 margin-top: 10px;
}
div#start_toggle1 {
    margin-top: 15px;
}
div#start_toggle2 {
    margin-top: 15px;
}
p.icons_personal {
    display: flex;
}
span.dm_edit{
    height: 52px;
    width: 191px;
    color: #9E9FA5;
    /* font-family: SF Pro Display; */
    font-size: 15px;
    line-height: 26px;
}
input.form-control.new_pass {
    background-color: #fff;
}
input.form-control.Confirm_pass {
	background-color: #fff;
}
label#digest_emails {
    color: #062942;
    font-size: 15px;
    line-height: 32px;
    font-weight: normal !important;
}
label#sales_emails{
 color: #062942;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal !important;
}
label#marketing_emails{
	 color: #062942;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal !important;
}
input.btn.btn-primary.change_assword {
    height: 40px;
    width: 171.47px;
    border-radius: 2px;
    background-color: #85c525;
    border: none !important;
    font-weight: bold;
}
@media (min-width: 1600px){
.container-fluid.dm_background {
       height: -webkit-fill-available;
}
}
@media (max-width: 1200px){
.container-fluid.dm_background {
       height: -webkit-fill-available;
}
}
 @media (max-width: 767px){
  .col-md-6.dm_acc_set2 {
    padding-left: 0px;
    padding-right: 0px !important;
    margin-bottom: 20px;
}
label#digest_emails{
	font-size: 18px;
}
label#sales_emails{
font-size: 18px;
}
label#marketing_emails{
	font-size: 18px;
}
div#start_switch {
    text-align-last: unset;
}
.switch{
	margin-top: 0px;
}
}


/*contact,support*/
input.form-control.contact-page {
    height: 50px;
    max-width: 100% !important;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}
h2.dm-h2 {
    
    
    color: #062942;
    
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 49px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
  p.ev-info_p {
    margin: 0 auto;
    height: 52px;
    max-width: 398px;
    color: #062942;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 26px;
    text-align: center;
}
.form-style {
    margin: 0 auto;
    max-width: 500px;
    margin-top: 50px;
}
button.btn.btn-default.dropdown-toggle {
    
    text-align-last: right;
    background-color: #F9F9F9;
    max-width: 580px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    height: 50px;
}
input.btn.btn-primary.dm_submit {
    width: 100%;
    height: 50px;
   font-family:SF Pro Display;
   font-size:18px;
    border-radius: 2px;
    background-color: #85c525;
    border: none;
}
span.dm_dropdown {
    float: left;
}
span.caret {
    float: right;
    margin-top: 7px;
}
.col-md-12.ev_contact_name {
    margin-bottom: 15px;
}
.col-md-12.ev_contact_email {
    margin-bottom: 15px;
}
.col-md-12.ev-contact-msg {
    margin-bottom: 20px;
}
.open>.dropdown-menu {
    display: block;
    width: 100%;
}
input.btn.btn-primary.dm_submit :active {
    background-color: #85c525 !important;
}

input.form-control {
    height: 50px;
    max-width:100% !important;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background-color: #FFFFFF;
}

textarea.form-control {
    height: 120px;
    max-width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background-color: #FFFFFF;
}

.col-md-12.get_started {
    text-align: center;
}
select#sel1 {
    height: 50px;
    max-width: 580px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background-color: #F9F9F9;
}

/*signin*/
.form-style.style1 {
    padding: 0px;
    box-shadow: none;
    border-radius: 5px;
    margin-bottom: 160px;
    padding-left: 6px;
    padding-right: 4px;
}
h2.dm-login {
    color: #fff;
    font-weight: bold;
    line-height: 38px;
    text-align: center;
    font-size: 32px !important;
}
.col-md-4.dm-signin {
    /*box-shadow: 0 5px 12px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);*/
    padding-top: 22px;
    margin-top: 100px;
    /*max-width: 500px;*/
    /*background-color: #FFFFFF;*/
    max-height: 417px;
}
.contact-page h2 {
        margin-bottom: 8px;
    margin-top: 0px;
}
label.dm_signin_email {
   
   
    color: #2C2F33;
  
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.13px;
    line-height: 19px;
}
label.dm_password {
  color: #2C2F33;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.13px;
    line-height: 19px;
}

/*input.form-control {
    margin-bottom: 18px;
}*/
a.formlink {
       float: right;
    font-size: 14px;
    line-height: 31px;
    color: #fff;
    font-size: 14px;
	font-weight:500;
	font-family:SF Pro Display;
}
input.btn.btn-primary {
    width: 100%;
}
.formlink:hover {
    color: unset !important;
}
input.form-control {
    height: 50px;
    max-width: 100% !important;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
}

input.btn.btn-primary.dm_sign_in {
    border-radius: 2px;
    background-color: #85c525 !important;
    border: none;
    height: 50px;
  
    letter-spacing: normal;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}
p.dm_change_plan{
  border: 0.5px solid #E0E0E0;
    margin-top: 22px;
    margin-bottom: 45px;
}

.col-md-12.dm-signin {
       padding-bottom: 37px;
    margin-top: 20px;
}
.form-style.style1 input[type="submit"] {
    float: none;
    margin-top: 0px !important;
}
.form-group {
   /* margin-bottom: 0px!important;*/
}

@media (max-width: 768px){ 
  .col-md-4.dm-signin{
        max-width: 400px !important;
        margin-top: 100px !important;
    margin: 0 auto;
  }
}
@media (max-width: 1200px){ 
  .col-md-4.dm-signin{
        max-width: 400px !important;
        margin-top: 100px !important;
    margin: 0 auto;
  }
}

/*design scope*/

.ds-banner{
   background-image: url(../images/Scope_banner.png) !important;
    background-size: cover;
    margin: 0 auto;
    padding: 100px;
    margin-top: 78px;
    height: 300px;
    }
.container.ev_contact {
   margin: 120px 0px; 
    padding: 80px;
    background: #fff;
    margin-bottom: 160px;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-left: 65px;
    padding-right: 65px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
    margin-bottom: 150px;
    /*background-image: url(../images/Element.png) !important;
        background-repeat: no-repeat;
        background-position: right bottom;*/
}
/*p#scope {
    
    color: #062942;
   
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
  
} */
.container.ev_contact_bg {
    margin-top: -150px;
}
p.dm_para {
    
    color: #062942;
    
    font-size: 18px;
  
    line-height: 27px;
	padding-top:20px;
	padding-bottom:20px;
}
p.sb_service_para {
    
    color: #222;
    
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
}
li.infographics {
    margin-top: 35px;
}
li.Product {
    margin-top: 35px;
}
ul.content-txt.content-txt1 {
    
    color: #062942;
    
    font-size: 18px;
    line-height: 33px;
}
span.our_work {
    
    color: #85c525;
   
    font-size: 18px;
    line-height: 18px;
}
p.latest_designs {
       margin-bottom: 50px;
    color: #062942;
    font-size: 18px;
    line-height: 27px;
	font-weight:500;
}
p.dm_confirm_pass {
    border: 0.5px solid #E0E0E0;
    margin-top: 28px;
    margin-bottom: 20px;
}
@media (max-width: 767px){
  .container.ev_contact {
    background-size: 40%;
        padding-left: 30px;
    padding-right: 30px;
  }
  }  
  
  /*---faq----*/
  .faq-container {
	margin: 0 auto;
	padding-bottom: 80px;
	width: 94.43%
}

@media screen and (max-width:1024px) {
	.faq-container {
		max-width: 976px
	}
}

.faq-container h2 {
	padding: 0 15px;
	text-align: center
}

.faq-container.faq-short-bottom {
	padding-bottom: 0
}

@media screen and (max-width:768px) {
	.faq-container {
		padding-bottom: 0;
		width: 100%
	}
}

.faq-item {
	border-top: 1px solid #c5c7ce;
	padding: 0 15px
}

.faq-item:last-child {
	border-bottom: 1px solid #c5c7ce
}

@media screen and (max-width:768px) {
	.faq-item:last-child {
		border-bottom: 0
	}
	.faq-item:last-child .faq-answer {
		margin-bottom: 0
	}
}

@media screen and (max-width:768px) {
	.faq-item.bottom-border-show {
		border-bottom: 1px solid #c5c7ce
	}
	.faq-item.bottom-border-show .faq-answer {
		margin-bottom: 1.8rem
	}
}

.faq-question {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 2.4rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	line-height: 1.33333;
	margin: 0;
	padding: 20px 0;
	text-align: left
}

.faq-question:after {
	content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNy45OCAxMC4yNiIgd2lkdGg9IjE3Ljk4cHgiIGhlaWdodD0iMTAuMjZweCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6I2NkZDRkOTt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmZhcS1hcnJvdzwvdGl0bGU+PHBhdGggY2xhc3M9ImEiIGQ9Ik0xLjI4LDBoMGExLjMxLDEuMzEsMCwwLDEsLjUuMDlBMS4yNywxLjI3LDAsMCwxLDIuMi4zOEw5LDcuMTcsMTUuNzguMzhhMSwxLDAsMCwxLC40MS0uMjhBMS4zOSwxLjM5LDAsMCwxLDE2LjcsMGExLjIzLDEuMjMsMCwwLDEsLjkuMzgsMS4yMywxLjIzLDAsMCwxLC4zOC45LDEuMiwxLjIsMCwwLDEtLjEuNSwxLjY2LDEuNjYsMCwwLDEtLjI3LjQyTDkuODksOS44OWExLjA2LDEuMDYsMCwwLDEtLjQuMjgsMS4zOCwxLjM4LDAsMCwxLTEsMCwxLjI3LDEuMjcsMCwwLDEtLjQyLS4yOEwuMzgsMi4yYTEuMjcsMS4yNywwLDAsMS0uMjgtLjQyQTEuMzEsMS4zMSwwLDAsMSwwLDEuMjgsMS4yMywxLjIzLDAsMCwxLC4zOC4zOCwxLjIzLDEuMjMsMCwwLDEsMS4yOCwwWiIvPjwvc3ZnPgo=);
	float: right;
	margin-left: 20px;
	text-decoration: none;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	vertical-align: middle
}

.faq-question.display-faq-answer:after {
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg)
}

.faq-answer>p {
	display: none;
	padding-bottom: 20px;
	padding-right: 10%
}

.faq-container h2 {
	color: #062942;
	font-family: SF Pro Display;
	font-size: 3rem;
	line-height: 1.53333
}

.faq-question {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
	font-weight:400;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.33333;
    margin: 0;
    padding: 20px 0;
    text-align: left;
	color:#0d83dd;
	}

.faq-answer>p{color:#062942; font-size: 18px;}
